<table class="table mb-4">
  <thead>
  <tr>
    <th scope="col">No.</th>
    <th scope="col">Todo item</th>
    <th scope="col">Status</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody cdkDropList (cdkDropListDropped)="drop($event)">
  <tr *ngIf="tasks.length === 0">
    <td colspan="4" class="text-center"><p>No to dos!</p></td>
  </tr>
  <tr *ngFor="let task of tasks; index as i" cdkDrag>
    <th scope="row">{{ i + 1 }}</th>
    <td [ngClass]="{'strikethrough': task.isComplete}">
      <ng-container *ngIf="!task.isEditing; else editTemplate">
        <span [ngClass]="{'completed': task.completed}">{{ task.description }}</span>
      </ng-container>
      <ng-template #editTemplate>
        <input [(ngModel)]="task.description" (keydown.enter)="onEditTask(task.id)" />
      </ng-template>
    </td>
    <td> {{ task.isComplete ? "Complete" : "In progress" }}</td>
    <td>
      <button (click)="removeTodo(task.id)" data-mdb-button-init data-mdb-ripple-init class="btn btn-danger">Delete</button>
      <button (click)="onEditTask(task.id)" data-mdb-button-init data-mdb-ripple-init class="btn btn-warning ms-1">{{task.isEditing ? "Save" : "Edit" }}</button>
      <button (click)="toggleTodo(task.id)" data-mdb-button-init data-mdb-ripple-init class="btn btn-success ms-1">Complete</button>
    </td>
  </tr>
  </tbody>
</table>
